<section>
    <ul class="tab-bar">
        <li class="home">
            <a href="">
                 <img src="/public/images/imagesK/home.svg" alt="아이콘">
            </a>
        </li>
         <li class="chat">
             <a href="#">
                 <img src="/public/images/imagesK/chat.svg" alt="아이콘">
             </a>
         </li>
         <li class="write">
             <a href="">
                 <img src="/public/images/imagesK/write.svg" alt="아이콘">
             </a>
         </li>
         <li class="heart">
             <a href="">
                 <img src="/public/images/imagesK/heart.svg" alt="아이콘">
             </a>
         </li>
         <li class="profile">
             <a href="">
                 <img src="/public/images/imagesK/fprofile.svg" alt="아이콘">
             </a>
         </li>
     </ul>
</section>