<%- include('inc/head.ejs')%>


    <div class="header-hello">
        <h1> Hello :) </h2>
    </div>

    <div id="index-wrap">
        <!-- 입력창 버튼 -->
        <form id="loginform" class="btn-wrap" method="post">
            <input class="btn-comn signup-btn btn-line" type="text" name="user_id" placeholder="ID">
            <input class="btn-comn signup-btn btn-line" type="text" name="user_pw" placeholder="Password">
            <button class="btn-comn login-btn" name="login-btn" type="submit">LOG IN</button>
        </form>
    </div>


<%- include('inc/tabbar.ejs')%>
<script src="/public/js/main.js"></script>
<%- include('inc/tail.ejs')%>
