<%- include('inc/head.ejs')%>

<header id="header">
    <div class="hd-tit">
        <a href="/">
            <img src="/public/images/imagesK/backBtn.svg" alt="뒤로가기 버튼" class="back-ico">
        </a>
    </div>
</header>

<div class="header-hello">
    <h1> Register </h2>
</div>

<div id="container">

    <form id="signUpform" class="btn-wrap" method="post" action="/user/register" enctype="multipart/form-data">
        <!-- profile -->
        <div class="sign-prf">
            <a href="#" class="ico-fixed">
                <input id="profile-img" type="file" name="profile-img" style="display: none"/>
                <label for="profile-img">
                    <img src="/public/images/imagesK/profile.svg" alt="프로필 아이콘" class="prf-ico">
                </label>
                <img src="/public/images/imagesK/plus.svg" alt="플러스 아이콘" class="plus-ico">
            </a>
        </div>
        <!-- input button -->
        <input class="btn-comn signup-btn btn-line" placeholder="Id : Up to 12 characters" name="user_id" maxlength="12">
        <input class="btn-comn signup-btn btn-line" placeholder="Nick Name : Up to 12 characters" name="user_nick" maxlength="12">
        <input class="btn-comn signup-btn btn-line" placeholder="Password : Up to 12 characters" name="user_pw" maxlength="12" type="password">
        <button class="btn-comn login-btn">Register</button>
    </form>
    <!-- 로고 -->
    <img src="/public/images/imagesK/miniLogo.svg" alt="영어로고" class="logo-txt">
</div>

<script src="/public/js/register.js"></script>
<%- include('inc/tail.ejs')%>